.banner-interno__fondo
  background-image: url(../assets/curso/interno.png) !important
.etiqueta
  padding: 1px 2px 2px 3px
  font-weight: 800
  margin-right: 0px
italic
  font-style: oblique  
italic-strong
  font-style: oblique 
  font-weight: bold
figcaption
  background-color: #FFD1A2
  padding: 0.75em 0.5em
  font-weight: 500


.bloque-fondo-intro
  background-image: url(../assets/curso/fondo-intro.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom
.bg-elemento
  background-image: url(../assets/curso/bg-elemento.png)
  background-repeat: no-repeat
  background-size: 100% 85%
  background-position: bottom  


.titulo-tercero
  background-color: #FDD835
  width: fit-content
  padding: 5px 14px
  position: relative 
  &__1 img
    width: 45px
    position: absolute
    top: -36%
    right: -4.5%
  &__2 img
    width: 45px
    position: absolute
    top: -36%
    right: -13.5%  
  &__3 img
    width: 45px
    position: absolute
    top: -36%
    right: -9.5%   
  &__4 img
    width: 45px
    position: absolute
    top: -36%
    right: -33.5%  
  &__5 img
    width: 45px
    position: absolute
    top: -36%
    right: -29.5%   
  &__6 img
    width: 45px
    position: absolute
    top: -36%
    right: -17.5%   

.bg-secundario
  background-color: #FDD835
.bg-color-primario2
  background-color: #FFD1A2
.bg-acento-botones
  background-color: #B1F9FF 
.bg-suave
  background-color: #FFF3BF
.bg-suave2
  background-color: #fff9df
.bg-acento-contenido
  background-color: #f57c00


.cajon.color-primario 
  background-color: #FFD1A2

.cajon2  
  position: relative
.cajon2.color-primario.personalizado
  background-color: transparent 
.cajon2.personalizado:after
  background-color: #ffa726
  content: ""
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
.cajon2.personalizado:before  
  background-color: #ffe8c8
  content: ''
  display: block
  position: absolute
  top: 40% !important
  bottom: 0 !important
  left: 35% !important
  right: 0
.cajon3  
  position: relative
.cajon3.color-acento-botones.personalizado
  background-color: transparent 
.cajon3.personalizado:after
  background-color: #26CCDA
  content: ""
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
.cajon3.personalizado:before  
  background-color: #B1F9FF
  content: ''
  display: block
  position: absolute
  top: 40% !important
  bottom: 0 !important
  left: 35% !important
  right: 0  


.slyder-a__tipo-a .slyder-a__bullets
  bottom: 20px  
.slyder-a__bullets__item--active
  background-color: #F57C00 !important
  border-color: #F57C00 !important
.slyder-a__bullets__item
  background-color: #AF9627
  border-color: #AF9627
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  opacity: 1
  border: 2px solid #12263F
.slyder-a__btn--sigt:hover, .slyder-a__btn--atrs:hover
  border-color: #12263F


.tarjeta3 .tarjeta-numerada__numero
  width: 40px
  height: 40px
  top: 35px
.tarjeta3 img
  width: 85px
  height: 80px
.tarjeta3.tarjeta-numerada.color-acento-contenido
  background-color: #B1F9FF
  border-color: #B1F9FF


.bloque-texto-a.color-primario
  background-color: #E8E8E8


.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #B1F9FF
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__slot
  background-color: #B1F9FF
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-size: 18px
  background-color: #B1F9FF
.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #F57C00
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #FDD835
.linea-tiempo-d__item__content__title
  background-color: #FDD835


.acordion__activo
  background-color: #FFD1A2


.slyder-f__btn i
  font-size: 1.2rem
  border: 1px solid #12263F
  border-radius: 50%
  padding: 6px 10px


.tarjetas2-4 img
  height: 165px
  width: fit-content
  margin: 0 auto
  display: block


.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  border: 2px solid $color-sistema-texto
  min-width: 40px
  max-width: 40px
  min-height: 40px
  max-height: 40px
.linea-tiempo-c__header__item__dot
  border: 3px solid #26CCDA
  background-color: #26CCDA
  min-width: 30px
  max-width: 30px
  min-height: 30px
  max-height: 30px
.linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item__line-container:before    
  background-color: #26CCDA
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot
  background-color: #f57c00
.linea-tiempo-c__header__item__year
  top: 5px
  font-size: 1.05em
  color: #FFF
  position: absolute
  z-index: 9999


.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
  border: 3px solid #9B5003
.img-infografica__item__numero, .img-infografica-b__item__numero
  color: #FFF
.img-infografica-b__modal__contenido div > *
  color: $color-sistema-texto !important 
.img-infografica-b__modal
  background-color: rgba(255, 243, 191, 0.75)
.img-infografica-b__modal__btn-cerrar i
  color: $color-sistema-texto !important 


  


@media (max-width: $bp-max-md)
  .bg-elemento
    background-color: #fff3bf