.banner-interno__fondo
  background-image: url(../assets/curso/interno.png) !important
.etiqueta
  padding: 1px 2px 2px 3px
  font-weight: 800
  margin-right: 0px
italic
  font-style: oblique  
italic-strong
  font-style: oblique 
  font-weight: bold
figcaption
  background-color: #FFD1A2
  padding: 0.75em 0.5em
  font-weight: 500


.bloque-fondo-intro
  background-image: url(../assets/curso/fondo-intro.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom
.bg-elemento
  background-image: url(../assets/curso/bg-elemento.png)
  background-repeat: no-repeat
  background-size: 100% 85%
  background-position: bottom  


.titulo-tercero
  background-color: #FDD835
  width: fit-content
  padding: 5px 14px
  position: relative 
  &__1 img
    width: 45px
    position: absolute
    top: -36%
    right: -4.5%
  &__2 img
    width: 45px
    position: absolute
    top: -36%
    right: -13.5%  
  &__3 img
    width: 45px
    position: absolute
    top: -36%
    right: -9.5%   
  &__4 img
    width: 45px
    position: absolute
    top: -36%
    right: -33.5%  
  &__5 img
    width: 45px
    position: absolute
    top: -36%
    right: -29.5%   
  &__6 img
    width: 45px
    position: absolute
    top: -36%
    right: -17.5%   

.bg-secundario
  background-color: #FDD835
.bg-color-primario2
  background-color: #FFD1A2
.bg-acento-botones
  background-color: #B1F9FF 
.bg-suave
  background-color: #FFF3BF


.cajon.color-primario 
  background-color: #FFD1A2

.cajon2  
  position: relative
.cajon2.color-primario.personalizado
  background-color: transparent 
.cajon2.personalizado:after
  background-color: #ffa726
  content: ""
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
.cajon2.personalizado:before  
  background-color: #ffe8c8
  content: ''
  display: block
  position: absolute
  top: 40% !important
  bottom: 0 !important
  left: 35% !important
  right: 0
.cajon3  
  position: relative
.cajon3.color-acento-botones.personalizado
  background-color: transparent 
.cajon3.personalizado:after
  background-color: #26CCDA
  content: ""
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
.cajon3.personalizado:before  
  background-color: #B1F9FF
  content: ''
  display: block
  position: absolute
  top: 40% !important
  bottom: 0 !important
  left: 35% !important
  right: 0  


.slyder-a__tipo-a .slyder-a__bullets
  bottom: 20px  
.slyder-a__bullets__item--active
  background-color: #F57C00 !important
  border-color: #F57C00 !important
.slyder-a__bullets__item
  background-color: #AF9627
  border-color: #AF9627
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  opacity: 1
  border: 2px solid #12263F
.slyder-a__btn--sigt:hover, .slyder-a__btn--atrs:hover
  border-color: #12263F


.tarjeta3 .tarjeta-numerada__numero
  width: 40px
  height: 40px
  top: 35px
.tarjeta3 img
  width: 85px
  height: 80px
.tarjeta3.tarjeta-numerada.color-acento-contenido
  background-color: #B1F9FF
  border-color: #B1F9FF


.bloque-texto-a.color-primario
  background-color: #E8E8E8


.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #B1F9FF
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__slot
  background-color: #B1F9FF
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-size: 18px
  background-color: #B1F9FF
.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #F57C00
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #FDD835
.linea-tiempo-d__item__content__title
  background-color: #FDD835







@media (max-width: $bp-max-md)
  .bg-elemento
    background-color: #fff3bf